<section class="vh-100">
    <div class="container ">
      <div class="row g-3d-flex justify-content-center align-items-center h-100">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12 text-center g-1">
                        <img class="mt-5 mb-4" src="https://www.nestdigital.com/images/logo.svg" style="max-height: 200px;max-width: 300px;">
                    <h1 class="display-4 mb-3 mt-3">NeST Digital App</h1>
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                    <button type="button" routerLink="/adminlogin" class="btn btn-outline-primary btn-sq-responsive">Admin</button>
                                </div>
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                <button type="button" routerLink="/userlogin" class="btn btn-outline-primary btn-sq-responsive">Employee</button>      
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group">
                                <button type="button" routerLink="/seclogin" class="btn btn-outline-primary btn-sq-responsive">Security</button>
                                </div>
                              </div>
                    </div>

                </div>    
            </div>
</section>